body{
	margin:0px;
	padding:0px;
	font-family: 'Marmelad', sans-serif;
	background:url(images/aa.jpg);
}
.box{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	background:rgba(0,0,0,.8);
	width:500px;
	padding:40px;
	box-sizing:border-box;
	box-shadow:0px 15px 25px rgba(0,0,0,0.5);
	border-radius:10px;
	
}
.box h2{
	text-align:center;
	margin:0 0 35px;
	padding:0;
	color:#03a9f4;

}
.box .inputbox{
	position:relative;
}
 .box .inputbox input{
     width:100%;
    padding:10px 0px; 
	font-size:20px;
	margin-bottom:30px;
	letter-spacing:1px;
	color:#fff;
	border:none;
	border-bottom:1px solid #fff;
	outline:none;
	background:transparent;
}
.box .inputbox label{
	position:absolute;
	top:0;
	left:0;
	padding:10px 0px;
	font-size:16px;
	color:#03a9f4;
	pointer-events: none;
	transition:.5s;
	
	
}
.box .inputbox input:focus~label,
.box .inputbox input:valid~label
{
	top:-18px;
	left:0px;
	color:	#03a9f4;
	font-size:12px;
}
.box input[type="submit"]{
	background:transparent;
	border:none;
	outline:none;
	background-color:#03a9f4;
	padding:10px 20px;
	cursor:pointer;
	border-radius:5px;
}